/* custom css */

body {
    background-image: none;
}

.container {
    margin-top: 10%;
    padding-bottom: 60px;
}

.custom-row {
    margin-top: 5%
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #909090;
}

a:hover {
    color: #3a3a3a;
}

p {
    margin: 0 0 15px 0;
}

p.description {
    margin-left: 10%;
}

h5 {
    margin-bottom: 0;
}

img.icon {
    width: 70%;
    margin-top: 15%;
    pointer-events: none;
}

div.links {
    margin-left: 0;
}

.fa {
    width: 24px;
    margin-right: 5%;
}

.fa-rss {
    color: #F26522;
}

.fa-twitter {
    color: #1DA1F3;
}

.fa-slideshare {
    color: #0579B6;
}

.fa-fire {
    color: #A60000;
}

.fa-comment {
    color: #116048;
}

footer {
    text-align: center;
    position: absolute;
    background: white;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}
